<div class="grid-container header-grid">
  
  <div class="grid-head-light borderlength" [ngClass] = "{'selected':column === 'id'}" (click)="sort('id')">
    <p>{{title1}} <span class="symbol">{{idSort}}</span></p>
  </div>
  <div class="second-column-grid grid-head-light" [ngClass] = "{'selected':column === 'availableCash'}" (click)="sort('availableCash')">
    <div id="head-col-2-row-1">
      {{title2}} <span class="symbol">{{cashSort}}</span>
    </div>
    <div id="head-col-2-row-2">
      {{title3}}
    </div>
  </div>

</div>
<div *ngFor="let acco of account; index as i;" class="content" [style.display]="i>=accountToShow ? 'none' : 'block'">
  <div class="grid-container content-grid" *ngIf = "i < accountToShow"  >

  <div class="account-type" >
    {{acco.accountType}} - {{acco.id | number : '4.0' | noComma}}
  </div>
  <div class="second-column-grid" *ngIf = "i < accountToShow">
    <div class= "available-cash">
      {{acco.availableCash | currency: 'USD':'symbol' : '1.2-2'}}
    </div>
    <div class= "cash-change" [style.color]="acco.change> 0 ? '#1EAF4E' : acco.change< 0 ? '#FF0027' : '#6B6B6B'">
      {{acco.change | number: '1.2-2' }}%
    </div>
  </div>

</div>
</div>

<button (click)=toggle()> {{buttonDesc}} </button>
